@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 10%;
  margin-top: 50px;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1200px);
  animation: autoRun 24s linear infinite reverse;
  z-index: 2;
}

.banner .slider:hover {
  animation-play-state: paused;
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: contain;
}

.banner .content {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 6em;
  color: #25283b;
  position: relative;
  pointer-events: none;
}

.banner .content h1::after {
  position: absolute;
  inset: 0;
  content: attr(data-content);
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.project-info {
  position: absolute;
  bottom: -150%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(45deg, #ffffffc8,#ffffff50, #91919140);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: left;
  z-index: 10;
  pointer-events: auto;
  backdrop-filter: blur(20px);
  & .project-links {
    display: flex;
    justify-content: space-evenly;
  }
}

.project-info h2 {
  margin: 0 0 10px 0;
}

.project-info p {
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 10px;
}

.project-info .project-tech span {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.8rem;
  background: #39363669;
  padding: 3px 6px;
  border-radius: 4px;
}

.project-info .project-links a {
  text-decoration: none;
  font-weight: bold;
  & svg {
    color: #fff;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    transition: all 0.5s ease;
  }

  & svg:hover {
    color: var(--color-nav-stroke);
    filter: drop-shadow(0 0 5px var(--color-link))
      drop-shadow(0 0 2px var(--color-link))
      drop-shadow(0 0 2px var(--color-link));
    border-bottom: 1px solid currentColor;
  }
}

.project-info .project-links a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .banner .content h1 {
    font-size: 3em;
  }
  .banner .slider {
    width: 150px;
    height: 150px;
  }
  .banner .slider .item img {
    height: 150px;
  }
  .project-info {
    bottom: -350%;
  }
}