section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #3cf;
}

.user-bio .contact {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials i {
  font-size: 2rem;
  color: #fff;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.socials i:hover {
  filter: drop-shadow(0 0 5px #3cf) drop-shadow(0 0 2px #3cf)
    drop-shadow(0 0 2px #3cf);
  border: 1px solid currentColor;
}

.text-info {
  & h1 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 0 #ffffff56, 2px 2px 0 #ffffff56;
  }
  & h2 {
    font-size: 3rem;
  }
}

.text-animation {
  height: 50px;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #fff 45% 65%,
    transparent
  );
  margin: 1rem 0;
}

.words {
  display: flex;
  flex-direction: column;
  animation: scrollUp 12s linear infinite;
}

.words span {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

section.about {
  justify-content: space-evenly;
}

section.about .content {
  width: 60%;
}

.about .img {
  position: relative;
  width: 280px;
  height: 280px;
  animation: wave 4s linear infinite;
}

.about .img::before,
.about .img::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background: conic-gradient(#3cf, #fff, #3cf);
  animation: rotateBorder 4s linear infinite;
  z-index: -1;
  padding: 10px;
}
.about .img::before {
  filter: blur(10px);
}

.about .img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #111;
  background: #111;
}

.skills-carousel {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  mask-image: linear-gradient(to right, transparent, #fff 15% 85%, transparent);
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-left 10s linear infinite;
}

.skill-card {
  position: relative;
  overflow: hidden;
  flex: 0 0 150px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  background: #ffffff3e;
  align-items: center;
}

.skill-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 213, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
}

.skill-card:hover {
  transform: scale(1.1);
  & i,
  img {
    filter: drop-shadow(0 0 10px #3cf) drop-shadow(0 0 5px #3cf)
      drop-shadow(0 0 2px #3cf);
    transform: translateX(0);
  }
  h3 {
    opacity: 1;
  }
}

.skill-card:hover::before {
  animation: shineCard 0.75s forwards;
}

.skill-card h3 {
  opacity: 0;
  transition: all 0.3s ease;
}

.skill-icon i {
  font-size: 3rem;
  transform: translateX(60%);
  transition: all 0.3s ease;
}

.skill-icon img {
  height: 50px;
  transform: translateX(50%);
  transition: all 0.3s ease;
}

section.projects {
  padding: 3.5rem 0;
}

.projects .main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.projects .main-content .project-list {
  display: grid;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "project1 project2 project3"
    "project1 project4 project5 "
    "project7 project6 project5 ";
  gap: 1rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s ease;
  /* clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 65.5%,
    65% 65.5%,
    65% 66.5%,
    0% 66.5%,
    0% 100%,
    100% 100%,
    100% 34.5%,
    35% 34.5%,
    35% 33.5%,
    100% 33.5%
  ); */
}

#project1 {
  grid-area: project2;
}
#project2 {
  grid-area: project1;
}
#project3 {
  grid-area: project3;
}
#project4 {
  grid-area: project4;
}
#project5 {
  grid-area: project5;
}
#project6 {
  grid-area: project7;
}
#project7 {
  grid-area: project6;
}

.project {
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
  position: relative;
  perspective: 1000px;
}

.visible-content {
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.project-tech {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-tech p {
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #fff 50%, #3cf 50%);
  border-image-slice: 1;
}

.project-description {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transform: translateZ(100px);
  transition: all 0.5s ease;
  background: #111111d9;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.project-description p {
  color: transparent;
  background-image: linear-gradient(to right, #fff, #3cf, #fff);
  background-clip: text;
}

.project-description .links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.project-description .links a {
  font-size: 2rem;
  color: #fff;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.project-description .links a:hover {
  filter: drop-shadow(0 0 5px #3cf) drop-shadow(0 0 2px #3cf)
    drop-shadow(0 0 2px #3cf);
  border: 1px solid currentColor;
}

.project:hover .visible-content {
  transform: rotateX(60deg);
}

.project:hover .project-description {
  z-index: 2;
  opacity: 1;
  transform: translateZ(0) rotateX(0deg);
  animation: fadeIn 0.5s ease, slideTop 0.5s ease;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

section.contact {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

form {
  min-width: 500px;
  box-shadow: 0 0 10px #3cf;
  padding: 1rem;
}

.form-group {
  position: relative;
  margin-top: 3rem;
}

input,
textarea {
  width: 450px;
  padding: 1.2rem 1rem 0.5rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #3cf;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

label {
  position: absolute;
  top: -12px;
  left: 1rem;
  color: #ccc;
  font-size: 0.85rem;
  transition: 0.3s ease;
}

.form-group:has(input:focus) label,
.form-group:has(input:not(:placeholder-shown)) label,
.form-group:has(textarea:focus) label,
.form-group:has(textarea:not(:placeholder-shown)) label {
  top: -25px;
  left: 0;
  font-size: 1rem;
  color: #3cf;
}

textarea {
  height: 100px;
  resize: none;
}

form button {
  width: 200px;
  padding: 0.8rem;
  margin: 1rem auto;
  font-size: 1.2rem;
  background: transparent;
  color: #3cf;
  border: 2px solid #3cf;
  transition: all 0.3s ease;
}

form button:hover {
  background: #3cf;
  color: #fff;
  cursor: pointer;
}

@media screen and (width <=800px) {
  .home {
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 2rem;
    }
    & p,
    span {
      font-size: 1rem;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .about .img {
    width: 200px;
    height: 200px;
  }

  .about .img::before,
  .about .img::after {
    width: 210px;
    height: 210px;
  }

  section.about .content {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .projects .main-content .project-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
    grid-template-areas:
      "project2"
      "project3"
      "project4"
      "project6"
      "project7"
      "project1"
      "project5";
  }
  form {
    min-width: 280px;
    width: 400px;
  }
  form input,
  textarea {
    width: 320px;
  }
}
