@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-bg: #111;
  --color-text: #ffffffde;
  --color-text-secondary: #e9e9e9;
  --color-link: #3cf;
  --color-nav-bg: #7f7f7f55;
  --color-nav-stroke: #fff;
  --color-nav-hover: #fff;
  --color-active: #fff;
  --color-gradient-start: #3cf;
  --color-gradient-end: #fff;
  --color-shiny-text: #33ccff40;
  --color-shadow: #3cf;
  --color-hamburger: var(--color-link);
  --color-mobile-nav-bg: #000000bf;
  --color-mobile-active: var(--color-link);
  --color-mobile-hover: #fff;

  font-family: Audiowide;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.Light {
  --color-bg: #ffffffff;
  --color-text: #3c0303de;
  --color-text-secondary: #666;
  --color-link: #00ff2fff;
  --color-nav-bg: #fff;
  --color-nav-stroke: #00ff2fff;
  --color-nav-hover: #00ff2fff;
  --color-active: #8c00ffff;
  --color-gradient-start: #7b00ffff;
  --color-gradient-end: #ff0;
  --color-shiny-text: #ff000053;
  --color-shadow: #00ff00;
  --color-hamburger: var(--color-link);
  --color-mobile-nav-bg: #fff;
  --color-mobile-active: #00ff00;
  --color-mobile-hover: #00ff00;
} */

a {
  text-decoration: none;
  color: var(--color-link);
}

h1,
h2,
p {
  margin: 0;
}

p,
label {
  font-family: Poppins;
}

button {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
  transition: all 1.5s ease;
}

.relative {
  position: fixed;
  width: 100%;
  z-index: -1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 98.5%;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--color-nav-bg);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(20px);
  user-select: none;
  border-radius: 1rem;
  z-index: 1000;
  transition: all 1s ease;
}

nav .logo {
  flex: 1;
}

nav .logo svg {
  width: 200px;
  height: 25px;
  cursor: pointer;
}

nav svg path {
  fill: transparent;
  stroke: var(--color-link);
  stroke-width: 4;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: all 1s linear;
  animation: navTextAnimation 5s linear infinite, flash 2s linear infinite;
}

nav .logo svg:hover path {
  fill: var(--color-link);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

nav .buttons {
  display: flex;
  align-items: center;
}

nav .modes button {
  border: none;
  background: transparent;
  font-size: 0.5rem;
  padding-bottom: 0;
  color: var(--color-active);
  text-shadow: 0 0 5px #fff, 0 0 15px var(--color-active);
  & svg:hover path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

nav .hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

nav .links {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .links a {
  position: relative;
  text-decoration: none;
  color: var(--color-link);
  animation: fadeIn var(--delay) linear forwards,
    slideBottom var(--delay) linear;
}

nav .links a:hover {
  color: var(--color-active);
}

nav .links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 100%
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav .links a:hover::after,
nav .links a.active::after {
  transform: scaleX(1);
}

nav .links a.active {
  color: var(--color-active);
  font-weight: bold;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  text-align: center;
}

.shiny-text {
  color: var(--color-shiny-text);
  background: linear-gradient(
    120deg,
    #ffffff00 40%,
    var(--color-active) 50%,
    #ffffff00 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shineText 4s linear infinite;
}

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

.text-content {
  font-size: 1.3rem;
  width: 75%;
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 5s linear infinite;
}

@media screen and (width <= 800px) {
  nav {
    width: 96%;
  }

  nav .hamburger {
    display: block;
  }

  nav .hamburger button {
    background: none;
    border: none;
    cursor: pointer;
  }

  nav span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: var(--color-hamburger);
    transition: all 0.3s ease;
  }

  nav span.active {
    background-color: var(--color-mobile-active);
  }

  nav button:hover span {
    box-shadow: 0 0 3px var(--color-nav-stroke), 0 0 5px var(--color-shadow);
  }

  nav button:hover span.active {
    background-color: var(--color-mobile-hover);
    box-shadow: 0 0 3px var(--color-nav-stroke), 0 0 5px var(--color-shadow);
  }

  nav span.active:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav span.active:nth-child(2) {
    opacity: 0;
  }
  nav span.active:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  nav .links {
    position: absolute;
    width: 100%;
    flex-direction: column;
    height: 400px;
    background: var(--color-mobile-nav-bg);
    top: 80px;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    transform: translateX(100px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  nav .links.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  nav .links.closing {
    opacity: 0;
    transform: translateX(100px);
    pointer-events: none;
  }
}

@keyframes shineText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shineCard {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes navTextAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

@keyframes flash {
  0% {
    stroke: var(--color-link);
  }
  100% {
    stroke: var(--color-link);
  }
}

@keyframes bgZoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bgZoomOut {
  from {
    transform: scale(1);
    background: #000;
  }
  to {
    transform: scale(1.2);
    background: #00000000;
  }
}
